
body{
    background-color: rgb(95, 241, 210);
    color: rgb(0, 0, 0);
}
.rop{
    flex-direction: row-reverse, column;
    display: flex;
}
.dio{
    border: black;
    border-radius: 50px;
    border: 5px solid black;
    padding-left: 25px;
}